<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% if page_title %}{{ page_title }} - {% endif %}{{ shop.name }}</title>
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>
  <body class="page-{{ template | split: '.' | first }}">
    {% section 'header' %}
    <main role="main">{{ content_for_layout }}</main>
    {% section 'footer' %}
    {{ content_for_footer }}
  </body>
</html>
